html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

body > section {
    width: 100%;
    height: 100%;
}

section.map-section {
    display: none;
    position: relative;
}

section.engine-section {
    display: none;
}

section.settings-section {
    display: none;
}

section.nav-section {
    display: none;
}

section.settings-section h1 {
    padding-left: 5px;
    padding-top: 5px;
}

section.settings-section h1 span {
    margin-right: 15px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

section.settings-section span.bluetooth-loader {
    animation: rotating 750ms linear infinite;
    display: none;
}

section.settings-section span.bluetooth-refresh {

}

section.splash-section .splash-wrapper {
    width: 100%;
}

section.splash-section {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
}

section.splash-section .splash-icon {
    font-size: 70px;
    display: block;
}

section.splash-section .splash-wrapper .card .card-body {
    text-align: center;
}

section.splash-section .splash-wrapper .card-deck:not(:first-child) {
    margin-top: 20px;
}

section.splash-section .splash-text {
    font-size: 20px;
}

.connected-device {
    color: lightgreen;
}

.disconnected-device {
    color: lightcoral;
}

.device-status i {
    display: none;
}

.device-status.connected-device i.fa-check {
    display: inline;
}

.device-status.connected-device i.fa-times {
    display: none;
}

.device-status.disconnected-device i.fa-check {
    display: none;
}

.device-status.disconnected-device i.fa-times {
    display: inline;
}

section.engine-section .gauge-wrapper {
    display: flex;
}

section.map-section div#leaflet-map-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.leaflet-control-container {
    display: none !important;
}

section.map-section div.left-control-area {
    position: absolute;
    top: 15px;
    left: 35px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

section.map-section div.left-control-area *:not(:first-child) {
    margin-top: 10px;
}

section.map-section div.left-control-area .control-button {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}

section.map-section div.left-control-area .control-button:active {
    border: 1px solid white;
    background-color: white;
}

section.nav-section > div.top-level-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section.nav-section div.top-level-wrapper div.header-area {
    padding-left: 15px;
    padding-top: 10px;
    flex-grow: 0;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

section.nav-section div.top-level-wrapper div.header-area h1 {
    font-weight: bold;
}

section.nav-section div.top-level-wrapper div.wizard-body-wrapper {
    flex-grow: 1;
    width: 100%;
}

section.nav-section ul.full-screen-menu {
    list-style: none;
    padding: 0;
}

section.nav-section ul.full-screen-menu li {
    padding-left: 15px;
    width: 100%;
    background-color: ghostwhite;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

section.nav-section ul.full-screen-menu li:active {
    background-color: darkgray;
}

section.nav-section div.wizard-body-wrapper > div.hidden {
    display: none;
}

#nav-wizard-step-addr-ch .flex-wrapper {
    display: flex;
    flex-direction: column;;
}

#nav-wizard-step-addr-ch .flex-wrapper .plz-input-wrapper {
    flex-grow: 0;
}

#nav-wizard-step-addr-ch .flex-wrapper div.virtual-keyboard {
    flex-grow: 1;
}

#nav-wizard-step-addr-ch .item-recommendation {
    height: 30px;
    background-color: #111;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

section.nav-section .item-recommendation .recommendation {
    display: inline-block;
}

@font-face {
    font-family: "Noto Color Emoji";
    src: url("/fonts/NotoColorEmoji.ttf")
}

.vkb-wrapper {
    display: flex;
    flex-direction: column;
}

.vkb-wrapper .vkb-row-wrapper {
    display: flex;
    justify-content: center;
}

.vkb-row-wrapper .vkb-key {
    font-family: "Noto Color Emoji", sans-serif;
    position: relative;
    text-align: center;
    width: calc(100% / 14);
    font-size: 35px;
    max-width: 60px;
}

.vkb-row-wrapper .vkb-key:active {
    background-color: #999;
    color: black;
}

.vkb-row-wrapper .vkb-key.keys-1 {
    width: 100%;
}

.vkb-row-wrapper .vkb-key.keys-2 {
    width: calc(100% / 2);
}

.vkb-row-wrapper .vkb-key.keys-3 {
    width: calc(100% / 3);
}

.vkb-row-wrapper .vkb-key.keys-4 {
    width: calc(100% / 4);
}

.vkb-row-wrapper .vkb-key.keys-5 {
    width: calc(100% / 5);
}

.vkb-row-wrapper .vkb-key.keys-6 {
    width: calc(100% / 6);
}

.vkb-row-wrapper .vkb-key.keys-7 {
    width: calc(100% / 7);
}

.vkb-row-wrapper .vkb-key:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.vkb-row-wrapper .vkb-key .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
